<div class="navbar navbar-default navbar-fixed-top " role="navigation" ng-controller="NavbarCtrl">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-toggle" href="http://hackerisms.com" target="blank">hackerisms</a>
          <a class="navbar-toggle" href="https://github.com/tlerias" target="blank">github</a>
          <a class="navbar-toggle" href="http://www.linkedin.com/pub/tara-lerias/22/a8a/51a" target="blank">linkedin</a>
          <a class="navbar-brand" href="#" ng-click='goTo("/")'>tara lerias</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="pointer" ng-click="scrollToAnchor('work')">work</a></li>
            <li><a class="pointer"ng-click="scrollToAnchor('about')">about me</a></li>
            <li><a href="http://www.linkedin.com/pub/tara-lerias/22/a8a/51a" target="blank">linkedin</a></li>
            <li><a href="https://github.com/tlerias" target="blank">github</a></li>
            <li><a href="http://hackerisms.com" target="blank">hackerisms</a></li>
            <li><a href="http://rantsandtangents.com" target="blank">rants</a><li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
